## Data Cleaning and Exploration

### Data Sources

#### Keepa API for daily prices of video cards
* Mason to provide

#### Crypto Compare API for daily cryptocurrency prices
* API calls were made to get daily price data for BTC, XRP, ETH, LTC, EOS, DASH
* This responses contained three years of data of open high, low, close data for the above cryptos.
* The data was exported into a csv file for each cryptocurrency
* The transformations to the data were:<br>1) Removed open, high, low prices since we only needed close<br>2) Converted date format from a UTC format<br>3) Removed data prior to 2017
* The final cleaned version was one csv file with the date and close price from Jan 2017 to Dec 2018.

In [21]:
import pandas as pd
# Import API key
from api_keys import api_key

# Sample query Save url and config information
url = "https://min-api.cryptocompare.com/data/histoday?fsym="
currency = "USD"
limit = 1460
symbol = "DASH"

# Build partial query URL
query_url = f"{url}{symbol}&tsym={currency}&limit={limit}&api_key={api_key}"

In [22]:
crypto_data = "Resources/all_crypto_data.csv"
crypto_df = pd.read_csv(crypto_data) 
crypto_df.head(3)

       date  close_btc  close_xrp  close_eth  close_ltc  close_eos  close_dash
0  1/1/2017     995.44   0.006346       8.14       4.42        0.0       11.06
1  1/2/2017    1017.05   0.006312       8.33       4.54        0.0       11.62
2  1/3/2017    1033.30   0.006411       9.59       4.51        0.0       12.22

#### Nasdaq for daily stock prices for companies that manufacturer video cards<br><br>https://www.nasdaq.com/quotes/historical-quotes.aspx
* Downloaded daily csv files with daily open, high, low, close for AMD, NVDA, and MU.
* The transformations to the data were:<br>1) Removed open, high, low prices since we only needed close<br>2) Removed data prior to 2017
* The final cleaned version was one csv file with the date and closing prices for the three stocks from Jan 2017 - Dec 2018.

In [18]:
stock_data = "Resources/all_stock_data.csv"
stock_df = pd.read_csv(stock_data)
stock_df.head(3)

       date  close_amd  close_nvda  close_mu
0  1/3/2017      11.43      102.01     22.55
1  1/4/2017      11.43      104.39     22.36
2  1/5/2017      11.24      101.74     22.11