In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

In [8]:
#Load gpu price files
gpu_data = "Resources/all_gpu_price.csv"
gpu_df = pd.read_csv(gpu_data).set_index('date', drop=True)

crypto_data = "Resources/all_crypto_data.csv"
crypto_data_df = pd.read_csv(crypto_data)
crypto_data_df['date'] =  pd.to_datetime(crypto_data_df['date'])
crypto_data_df.set_index('date')

            close_btc  close_xrp  close_eth  close_ltc  close_eos  close_dash
date
2014-12-09     352.19     0.0000       0.00       3.53       0.00        2.50
2014-12-10     347.94     0.0000       0.00       3.50       0.00        2.50
2014-12-11     347.68     0.0000       0.00       3.48       0.00        2.50
2014-12-12     353.40     0.0000       0.00       3.49       0.00        2.50
2014-12-13     348.24     0.0000       0.00       3.48       0.00        2.50
2014-12-14     349.35     0.0000       0.00       3.48       0.00        2.50
2014-12-15     345.37     0.0000       0.00       3.45       0.00        2.50
2014-12-16     330.22     0.0000       0.00       3.04       0.00        1.60
2014-12-17     320.02     0.0000       0.00       2.94       0.00        1.60
2014-12-18     310.34     0.0000       0.00       2.79       0.00        1.60
2014-12-19     317.78     0.0000       0.00       2.85       0.00        1.60
2014-12-20     330.35     0.0000       0.00       2.92       0.00        1.60
2014-12-21     322.63     0.0000       0.00       2.85       0.00        1.60
2014-12-22     330.84     0.0000       0.00       2.87       0.00        1.60
2014-12-23     335.25     0.0000       0.00       2.88       0.00        1.60
2014-12-24     322.40     0.0000       0.00       2.74       0.00        1.60
2014-12-25     318.99     0.0000       0.00       2.68       0.00        1.60
2014-12-26     329.98     0.0000       0.00       2.78       0.00        1.99
2014-12-27     315.34     0.0000       0.00       2.70       0.00        1.65
2014-12-28     316.53     0.0000       0.00       2.72       0.00        1.65
2014-12-29     314.12     0.0000       0.00       2.69       0.00        1.65
2014-12-30     311.27     0.0000       0.00       2.69       0.00        1.65
2014-12-31     318.24     0.0000       0.00       2.71       0.00        1.60
2015-01-01     314.89     0.0000       0.00       2.69       0.00        1.60
2015-01-02     315.21     0.0000       0.00       2.66       0.00        1.72
2015-01-03     287.13     0.0000       0.00       2.18       0.00        1.72
2015-01-04     264.72     0.0000       0.00       1.95       0.00        1.72
2015-01-05     274.84     0.0000       0.00       2.11       0.00        1.60
2015-01-06     282.27     0.0000       0.00       2.10       0.00        1.60
2015-01-07     291.34     0.0000       0.00       2.11       0.00        1.60
...               ...        ...        ...        ...        ...         ...
2018-11-08    6446.06     0.4944     211.29      52.28       5.53      165.54
2018-11-09    6377.99     0.5016     209.39      51.89       5.41      160.35
2018-11-10    6396.37     0.5061     211.90      52.18       5.43      161.97
2018-11-11    6408.18     0.5069     211.70      51.12       5.49      161.12
2018-11-12    6375.08     0.5209     210.81      50.68       5.46      164.92
2018-11-13    6339.17     0.5121     206.42      49.42       5.29      163.90
2018-11-14    5741.47     0.4749     182.72      43.38       4.75      146.66
2018-11-15    5647.50     0.4839     181.53      43.96       4.76      140.74
2018-11-16    5586.27     0.4736     174.84      42.28       4.59      139.25
2018-11-17    5568.94     0.4943     174.22      41.83       4.63      135.22
2018-11-18    5615.26     0.5128     177.53      42.13       4.65      133.69
2018-11-19    4809.62     0.4776     148.22      36.27       4.13      110.60
2018-11-20    4441.81     0.4369     130.74      32.85       3.81      107.06
2018-11-21    4593.04     0.4476     136.50      34.59       3.84      115.65
2018-11-22    4320.68     0.4225     124.83      31.56       3.53      101.88
2018-11-23    4343.42     0.4089     123.37      32.05       3.66      100.65
2018-11-24    3854.11     0.3756     112.75      29.00       3.30       93.08
2018-11-25    4004.15     0.3782     116.75      30.84       3.40       92.65
2018-11-26    3784.59     0.3590     108.87      29.50       3.24       90.76
2018-11-27    3822.99     0.3626     110.19      31.13       3.05       90.83
2018-11-28    4263.55     0.3925     122.88      34.63       3.30      100.20
2018-11-29    4286.69     0.3812     117.48      33.68       3.04       97.68
2018-11-30    4009.67     0.3630     112.87      31.85       2.89       92.63
2018-12-01    4197.46     0.3737     118.50      34.12       2.97       96.11
2018-12-02    4143.86     0.3695     115.96      33.58       2.87       93.52
2018-12-03    3871.41     0.3468     108.23      30.70       2.59       84.87
2018-12-04    3948.44     0.3519     109.82      30.95       2.47       85.72
2018-12-05    3737.53     0.3370     101.57      28.92       2.19       78.20
2018-12-06    3485.18     0.3074      90.43      26.53       1.85       64.79
2018-12-07    3391.56     0.3000      84.81      25.71       1.74       68.47

[1460 rows x 6 columns]

In [6]:
crypto_data_df.dtypes

date          datetime64[ns]
close_btc            float64
close_xrp            float64
close_eth            float64
close_ltc            float64
close_eos            float64
close_dash           float64
dtype: object

In [16]:
#Creating Data Frames Per GPU Type
df_1060 = pd.DataFrame({"EVGA 1060": gpu_df['EVGA_1060'],
                       "ASUS 1060": gpu_df['ASUS_1060'],
                       "PNY 1060":gpu_df['PNY_1060']}).dropna(how='all')
df_1070 = pd.DataFrame({"Nvidia 1070": gpu_df['Nvidia_1070'],
                       "MSI 1070": gpu_df['MSI_1070'],
                       "EVGA 1070":gpu_df['EVGA_1070']}).dropna(how='all')
df_1070_ti = pd.DataFrame({"ASUS 1070 Ti": gpu_df['ASUS_1070_Ti'],
                       "EVGA 1070 Ti": gpu_df['EVGA_1070_Ti'],
                       "Gigabyte 1070 Ti":gpu_df['Gigabyte_1070_Ti']}).dropna(how='all')
df_1080_ti = pd.DataFrame({"Nvidia 1080 Ti": gpu_df['Nvidia_1080_Ti'],
                       "ASUS 1080 Ti": gpu_df['ASUS_1080_TI'],
                       "Gigabyte 1080 Ti":gpu_df['Gigabyte_1080_Ti']}).dropna(how='all')
df_580 = pd.DataFrame({"MSI 580": gpu_df['MSI_580'],
                       "Gigabyte 580": gpu_df['Gigabyte_580'],
                       "XFX 580":gpu_df['XFX_580']}).dropna(how='all')
df_56 = pd.DataFrame({"Asus Vega 56": gpu_df['ASUS_Vega_56'],
                       "MSI Vega 56": gpu_df['MSI_Vega_56'],
                       "PowerColor Vega 56":gpu_df['PowerColor_Vega_56']}).dropna(how='all')
#Need to set index format same as crypto data df
df_1060.index =  pd.to_datetime(df_1060.index)
df_1070.index =  pd.to_datetime(df_1070.index)
df_1070_ti.index =  pd.to_datetime(df_1070_ti.index)
df_1080_ti.index =  pd.to_datetime(df_1080_ti.index)
df_580.index =  pd.to_datetime(df_580.index)
df_56.index =  pd.to_datetime(df_56.index)

In [17]:
#Merge DF's With Crypto Data
merge_1060 = pd.merge(df_1060, crypto_data_df, on="date", how='left')
merge_1070 = pd.merge(df_1070, crypto_data_df, on="date", how='left')
merge_1070_ti = pd.merge(df_1070_ti, crypto_data_df, on="date", how='left')
merge_1080_ti = pd.merge(df_1080_ti, crypto_data_df, on="date", how='left')
merge_580 = pd.merge(df_580, crypto_data_df, on="date", how='left')
merge_56 = pd.merge(df_56, crypto_data_df, on="date", how='left')